@import "src/app/shared/styles/variables";
@import "src/app/shared/styles/mixin";

.auth-logging-container {
    background-image: url('/assets/images/background-auth.png');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    //align-items: end;
    flex-direction: column;
    justify-content: space-evenly;

    @include media-lt-md {
        background: none;
        background: $white-sign;
    }

    .content-auth {
        width: fit-content;
        padding-right: 5rem;
        margin-left: auto;
        background-color: $white;

        @include media-lt-md {
            padding-right: 0;
            background: $white-sign;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .lang-item {
        padding-right: 2rem;

        div {
            color: $white;
            background-color: $blue;
            border-radius: 2rem;
            padding: 2px 10px;
            cursor: pointer;
            margin-left: auto;
            width: fit-content;
        }
    }
}

::ng-deep app-auth-logging-container {
    display: flex;
    width: 100%;
    height: 100%;
}