.roles-container.screen-1 {
    width: 60rem;

    .add-btn {
        button {
            width: 175px;
        }

        i {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .vertical-align-middle {
        vertical-align: middle;
    }
}