<h4 class="w-100 text-center mt-2 mb-2">
    <ng-container *ngIf="activePageType == forgetPasswordComponentState.FORGET_PASSWORD">
        {{'forgetPassword' | lang}}
    </ng-container>
    <ng-container *ngIf="activePageType == forgetPasswordComponentState.RESET_PASSWORD">
        {{'resetPassword' | lang}}
    </ng-container>
</h4>
<form *ngIf="activePageType == forgetPasswordComponentState.FORGET_PASSWORD" class="row" [formGroup]="sendEmailForm"
    (submit)="submitEmailForm()">
    <section class="col-12">
         <label class="mb-2 text-center w-100">{{'emailAddress' | lang}}</label>
        <!--<input type="email" formControlName="email" class="form-control" placeholder="Username@gmail.com"> -->
        <div class="input-div d-flex align-items-center justify-content-between">
            <fa-icon [icon]="['far','envelope']"></fa-icon>
            <input type="email" formControlName="email" class="form-control" placeholder="Username@gmail.com">
        </div>
        <app-form-error-handeling *ngIf="submitted" [controlVal]="sendEmailForm.value.email" [formRef]="sendEmailForm"
            [controlName]="'email'"></app-form-error-handeling>
    </section>
    <div class="d-flex align-items-center justify-content-center w-100">
        <input type="submit" class="login" [disabled]="submitted" [value]="'sendCode' | lang">
    </div>
</form>
<form *ngIf="activePageType == forgetPasswordComponentState.RESET_PASSWORD" class="row" [formGroup]="forgetPassForm"
    (submit)="submitPassForm()">
    <section *ngIf="forgetPassForm && forgetPassForm.value" class="text-center text-bold blue">
        {{forgetPassForm.value.email}}
    </section>
    <section class="col-12">
        <!-- <label for="password">{{'password' | lang}}</label>
        <div class="d-flex align-items-center justify-content-end pass-div">
            <input [type]="showPassword ? 'text' : 'password'" formControlName="password" class="form-control"
                placeholder="123456">
            <i *ngIf="!showPassword" (click)="showPassword = !showPassword" class="fa fa-eye blue"></i>
            <i *ngIf="showPassword" (click)="showPassword = !showPassword" class="fa fa-eye-slash blue"></i>
        </div> -->
        <div class="input-div d-flex align-items-center justify-content-between">
            <fa-icon [icon]="['fas','lock']"></fa-icon>
            <input [type]="showPassword ? 'text' : 'password'" formControlName="password" class="form-control"
                [placeholder]="'password' | lang">
            <fa-icon *ngIf="!showPassword" (click)="showPassword = !showPassword" [icon]="['far','eye']"
                class="gray-light"></fa-icon>
            <fa-icon *ngIf="showPassword" (click)="showPassword = !showPassword" [icon]="['far','eye-slash']"
                class="gray-light"></fa-icon>
        </div>
        <app-form-error-handeling *ngIf="submitted" [controlVal]="forgetPassForm.value.password"
            [formRef]="forgetPassForm" [controlName]="'password'"></app-form-error-handeling>
    </section>
    <section class="col-12">
        <!-- <label for="password">{{'confirmPassword' | lang}}</label>
        <div class="d-flex align-items-center justify-content-end pass-div">
            <input [type]="showPasswordConfirm ? 'text' : 'password'" formControlName="confirmPassword"
                class="form-control" placeholder="123456">
            <i *ngIf="!showPasswordConfirm" (click)="showPasswordConfirm = !showPasswordConfirm"
                class="fa fa-eye blue"></i>
            <i *ngIf="showPasswordConfirm" (click)="showPasswordConfirm = !showPasswordConfirm"
                class="fa fa-eye-slash blue"></i>
        </div> -->
        
        <div class="input-div d-flex align-items-center justify-content-between">
            <fa-icon [icon]="['fas','lock']"></fa-icon>
            <input [type]="showPasswordConfirm ? 'text' : 'password'" formControlName="confirmPassword"
                class="form-control" [placeholder]="'confirmPassword' | lang">
            <fa-icon *ngIf="!showPasswordConfirm" (click)="showPasswordConfirm = !showPasswordConfirm"
                [icon]="['far','eye']" class="gray-light"></fa-icon>
            <fa-icon *ngIf="showPasswordConfirm" (click)="showPasswordConfirm = !showPasswordConfirm"
                [icon]="['far','eye-slash']" class="gray-light"></fa-icon>
        </div>
        <app-form-error-handeling *ngIf="submitted" [controlVal]="forgetPassForm.value.confirmPassword"
            [formRef]="forgetPassForm" [controlName]="'confirmPassword'"></app-form-error-handeling>
        <small class="red" *ngIf="submitted && forgetPassForm?.value?.password
            && forgetPassForm?.value?.confirmPassword
            && forgetPassForm?.value?.password != forgetPassForm?.value?.confirmPassword">
            {{'bothPasswordsAreNotMatching' | lang}}
        </small>
    </section>
    <div class="d-flex align-items-center justify-content-center w-100">
        <input type="submit" class="login" [disabled]="submitted" [value]="'setNewPassword' | lang">
    </div>
</form>
<div class="reset-code d-flex flex-column align-items-center" *ngIf="activePageType == forgetPasswordComponentState.VERIFY_CODE">
    <small class="mb-3">{{'enterVerificationCode' | lang}}</small>
    <ngx-otp-input [config]="otpInputConfig" (otpChange)="handeOtpChange($event)" (fill)="handleFillEvent($event)">
    </ngx-otp-input>
    <div class="d-flex align-items-center footer mt-3">
        <small>{{'ifYouDidntReceiveCode' | lang}}</small>
        <small>{{'resend' | lang}}</small>
    </div>
    <div class="d-flex align-items-center justify-content-center w-100 mt-3">
        <input type="submit" class="login" [disabled]="disableSendCode" [value]="'sendCode' | lang">
    </div>
</div>
<div *ngIf="activePageType == forgetPasswordComponentState.RESET_PASSWORD"
    class="footer d-flex align-items-center justify-content-center x-btn-mail-primary"
    [routerLink]="['../forget-password']" routerLinkActive="router-link-active">
    <span>{{'changeEmail' | lang}}</span>
</div>
<div *ngIf="activePageType == forgetPasswordComponentState.FORGET_PASSWORD"
    class="footer d-flex align-items-center justify-content-center x-btn-mail-primary"
    [routerLink]="['../signin']" routerLinkActive="router-link-active">
    <span>{{'backToSignin' | lang}}</span>
</div>